target
*.class
*.log
*.swp
*.bak
*.jar
out/

hsf/
hsf.configuration/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iws

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Maven
log/
target/
dependency-reduced-pom.xml
