target
*.class
*.log
*.swp
*.bak

hsf.configuration/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Maven
log/
target/
dependency-reduced-pom.xml
